name: Release Package

# need to setup:
# secrets.PYPI_TOKEN (See: https://pypi.org/help/#apitoken)

on:
  push:
    tags:
    - v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
  pypi:
    needs: release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        persist-credentials: false
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: uv.lock
    - run: uv build
    - run: uv publish --token "${{ env.PYPI_TOKEN }}"
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
